
.biziffy-coprate-image-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.biziffy-coprate-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.biziffy-coprate-content .biziffy-coprate-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.3;
  color: var(--black);
  text-align: left;
}

.biziffy-coprate-content .biziffy-coprate-text {
  background: #d3d3d337;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 16px;
  color: var(--black);
}

.coprate-page-count-content {
  margin-top: 2rem;
  text-align: center;
}

.coprate-page-count-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--black);
}

.coprate-why-choose-us-data {
  margin-top: 2rem !important;
  align-items: center;
}

.coprate-why-choose-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coprate-why-choose-img {
  width: 100%;
  max-height: 250px; /* Adjust height to maintain aspect ratio */
  object-fit: contain;
  mix-blend-mode: multiply;
}

.coprate-why-choose-img-data {
  text-align: left;
  padding: 1rem;
  background: rgba(211, 211, 211, 0.3);
  border-radius: 10px;
}

.coprate-why-choose-img-data h5 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.coprate-why-choose-img-data h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.coprate-why-choose-img-data h4 i {
  color: var(--blue);
  font-size: 18px;
}

.coprate-why-choose-img-data p {
  font-size: 16px;
  color: var(--black);
}

/* ============= Industries  Slider ================= */

.coprate-category-card {
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.coprate-category-swiper {
  padding: 10px 0;
}

.coprate-category-section {
  margin: 20px 0;
}

.coprate-category-card:hover {
  transform: translateY(-5px);
}

.coprate-category-card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card-body {
  text-align: center;
}

.coprate-category-card-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
  margin: 0;
}

.coprate-form-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive Design */
@media (max-width: 1024px) {

  .coprate-category-card-image {
    height: 150px;
  }
  .coprate-category-card-title {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .coprate-category-card-image {
    height: 150px;
  }
}

@media (max-width: 480px) {
  .coprate-category-card-image {
    height: 130px;
  }
  .coprate-category-card-title {
    font-size: 14px;
  }
}

@media (max-width: 768px) {

  .coprate-page-count-title {
    font-size: 22px;

  }
 
  .biziffy-coprate-content .biziffy-coprate-title {
    font-size: 14px;
  }

  .biziffy-coprate-content .biziffy-coprate-text {
    padding: 1rem;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .coprate-page-hero-title {
    font-size: 22px;
  }
}
