.blog-data {
  margin-top: 1rem;
  text-align: left;
}

.blog-data .blog-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
}

.blog-data .blog-paragrap {
  font-size: 16px;
  color: #333;
}
