.login-welcome-content {
    background:transparent;
    color: black;
    height: 100%;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .login-welcome-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .login-welcome-text p.lead {
    font-size: 1.125rem;
    margin-bottom: 0rem;
  }
  
  .signup-page{
    background: linear-gradient(to top, #fff 40%, #a6c0eede 100%);
  }