.terms-container {
    background-color: #f8f9fa;
    /* padding: 30px; */
    border-radius: 8px;
}

.terms-heading {
    font-size: 32px;
    font-weight: 600;
}

.terms-main ul li{
    list-style-type: circle;
}

.terms-date {
    font-size: 16px;
    color: var(--black);
    margin: 0;
    /* margin-bottom: 20px; */
}

.terms-section-title , .privacy-section-title{
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    /* border-bottom: 2px solid var(--blue); */
    /* padding-bottom: 10px; */
    /* margin-bottom: 10px; */
}

.terms-main ul {
    margin-left: 20px;
    list-style-type: disc;
}

.terms-main ul li {
    font-size: 16px;
    color: var(--black);
    margin-bottom: 8px;
}

.terms-main b {
    color: var(--black);
}

@media (max-width: 768px) {
    .terms-container {
        padding: 20px;
    }

    .terms-heading {
        font-size: 28px;
    }
}
