/* Global Bootstrap Overrides */
.auth-section {
  padding-top: 20px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-welcome-content {
  color: black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  min-height: 100%;
  text-align: center;
  max-width: 80%;
  margin: auto;
}

.login-welcome-icon .glow-icon {
  text-shadow: 0 0 20px rgba(255, 193, 7, 0.7);
}

.login-welcome-text h1 {
  font-size: 2.7rem;
  letter-spacing: -0.5px;
}

.login-welcome-text p.lead {
  font-size: 1.1rem;
}

@keyframes pulse {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10%, 10%);
  }
}


.login-section{
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, #fff 40%, #a6c0eede 100%);
}

.auth-card {
  background-color: white;
  border-radius: 15px;
  width: 100%;
  padding: 1rem;
  max-width: 400px;
}

.auth-card h4 {
  font-size: 40px;
  font-weight: 800;
  color: var(--black);
  margin: 0;
}

.auth-card p {
  font-size: 18px;
  font-weight: 600;
  color: var(--black);
}

.login-input {
  border: 2px solid var(--blue);
  border-radius: 30px;
  width: 100%;
  padding: 10px 20px;
}

.auth-card input:focus {
  box-shadow: none;
}

.cursor-pointer {
  cursor: pointer;
}



@media only screen and (max-width:768px) {
  .login-section{
    height: 100%;
  }
  
  .auth-card h4 {
    font-size: 30px;
    font-weight: 700;
    color: var(--black);
    margin: 0;
  }
  
  .auth-card p {
    font-size: 14px;
    font-weight: 500;
  }
  .login-welcome-text {
    position: relative;
  }

  .login-welcome-content {
    height: 100%;
    text-align: center;
    max-width: 100%;
  }

  .auth-section {
    min-height: max-content;
  }

  .login-welcome-text p {
    margin: 0;
  }

  .login-welcome-image,
  .login-welcome-text {
    left: 0%;
  }
}