@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 3, 3);
  scroll-behavior: smooth;
}


.validation-text{
  color: red !important;
  font-size: 12px !important;
  margin-top: -12px !important;
  margin-left: 1rem !important;
}

:root {
  --blue: #007bff;
  --black: #000000e0;
}

.container {
  max-width: 1250px !important;
}

.childrens {
  margin-top: 70px;
}

.login-btn {
  background-color: white;
  color: white;
  border: 2px solid var(--blue);
  padding: 8px 15px;
  border-radius: 30px;
  color: var(--blue);
  text-decoration: none;
  transition: 0.5s;
}

.black-btn {
  background-color: white;
  color: white;
  border: 2px solid var(--black);
  padding: 8px 15px;
  border-radius: 30px;
  color: var(--black);
  /* transition: 0.5s; */
  text-decoration: none;
}

.login-btn:hover {
  background-color: var(--blue);
  color: white;
  border: none;
}
.black-btn:hover {
  background-color: var(--black);
  color: white;
  border: none;
}

.all-breadcrumb {
  position: relative;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bread-overlay {
  height: 350px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  position: absolute; /* Make it sit on top */
  top: 0;
  left: 0;
  z-index: 2;
}

.city-bread-overlay {
  height: 350px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
  position: absolute; /* Make it sit on top */
  top: 0;
  left: 0;
  z-index: 2;
}

.bread-content {
  position: relative;
  z-index: 3; /* Ensure it sits above the overlay */
  max-width: 50%;
  text-align: center;
  margin: auto;
  color: white; /* Ensure text is visible */
  top: 100px;
}

.bread-content ol {
  display: flex;
  gap: 5px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.bread-content ol li a {
  color: white;
  text-decoration: none;
}

/* ====== Page Heading ================== */

.some-page-hero-bg {
  background-image: linear-gradient(to top, #fff 40%, #a6c0eede 100%);
}

.some-page-hero-content {
  padding: 6rem 0;
  text-align: center;
  max-width: 60%;
  margin: auto;
}

.some-page-hero-title {
  font-size: 42px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.3;
  color: var(--black);
  text-align: center;
}

.some-page-hero-subtitle {
  font-size: 18px;
  color: var(--black);
  margin-top: 15px;
  line-height: 1.7;
  text-transform: capitalize;
}

/* ==========Search Bar============== */

.hero-search-bar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.hero-search-container {
  display: flex;
  align-items: center;
  background: aliceblue;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: auto;
}
.hero-location-picker {
  position: relative;
  border-right: 1px solid #ddd;
  cursor: pointer;
  color: #000;
  font-size: 16px;

  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  gap: 5px;
}

.hero-location-picker i {
  font-size: 16px;
  color: #000;
}

.hero-dropdown-menu {
  position: absolute;
  top: 40px;
  left: -10px;
  background: aliceblue;
  color: black;
  border-radius: 5px;
  list-style: none;
  padding: 10px;
  width: 150px;
  display: flex;
  flex-direction: column;
}

.hero-dropdown-menu li {
  padding: 5px;
  cursor: pointer;
}

.hero-search-input {
  border: none;
  padding-inline: 20px;
  background: aliceblue;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.hero-search-btn {
  padding: 10px 15px;
  background: var(--blue);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-primary {
  margin: 0 !important;
}


.logo-text {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  color: black;
}

.logo-text span {
  color: var(--blue);
}

@media (max-width: 768px) {
  .some-page-hero-content {
    padding: 2rem 0px 0px;
    max-width: 90%;
  }

  .hero-search-input {
    padding-inline: 0px;
  }

  .some-page-hero-title {
    font-size: 20px;
  }

  .some-page-hero-subtitle {
    font-size: 16px;
  }

  .container {
    padding: 0 12px;
  }
  .bread-content {
    max-width: 100%;
    top: 30px;
  }
  .bread-overlay {
    height: 220px;
  }
  .all-breadcrumb {
    height: 220px;
  }

  .hero-search-bar {
    display: flex;
    justify-content: center;
  }

  .hero-search-container {
    padding: 0px 0px 0px 10px;
    width: 100%;
    gap: 10px;
  }

  .black-btn {
    font-size: 14 px;
    border: 1px solid var(--black);
    padding: 5px 10px;
  }
  .login-btn {
    font-size: 12px;
  }
}
