.blog-main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blog-card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 20px;
}

.blog-card {
  padding: 10px;
  border: none;
  border-radius: 20px !important;
}

.blog-card .card-body .card-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}
.blog-card .card-body .card-text {
  font-size: 14px;
}
