.costom-modal-content{
    border-radius: 30px !important;
    border-top: 10px solid var(--blue) !important;
    border-bottom: 10px solid var(--blue) !important;
}

.btn-close-modal{
    position: absolute !important;
    top: -20px !important;
    right: -13px !important;
    background: var(--black);
    opacity: 1 !important;
    color: white !important;
    border-radius: 50% !important;
    padding: 5px 9px;
    border: none;
}