.business-navbar .navbar-collapse {
    flex-grow: 0 !important;
}


.business-navbar-search-container {
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid #ddd;
    padding: 0px 0px 0px 20px;
    border-radius: 50px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    width: 500px;
}

.business-navbar-search-container .hero-search-input {
    background: transparent;
}

/* For screens between 530px and 768px */
@media (max-width: 768px) {
    .business-navbar-search-container {
        width: 220px;
        border-radius: 10px;
        padding: 0px 0px 0px 10px;
        background-color: transparent;
    }

    .business-navbar .hero-search-btn {
        padding: 4px 8px;
        background-color: transparent;
        color: var(--black);
        /* Ensure you define the black color in your CSS variables */
    }

    .business-navbar .navbar-brand {
        margin: 0;
    }

    .business-navbar-search-container .hero-search-input {
        background-color: transparent !important;
    }
}